*.run.xml
*.bcf
*/__pycache__
*/__pycache__/*
*~
*/*~
*.aux
*.bbl
fit.log
*/fit.log
.DS_Store
*/.DS_Store
*.blg
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.toc

*.pyc
daq/getports/ioreg-no-hub
daq/getports/ioreg-not-plugged-in
daq/getports/ioreg-plugged-in
